<ul
  cdkDropList
  [cdkDropListData]="tasks"
  (cdkDropListDropped)="drop($event)"
  class="container"
>
  <li *ngFor="let task of tasks" cdkDrag [cdkDragData]="task._id">
    <div class="task-row">
      <mat-icon cdkDragHandle class="drag-icon">open_with</mat-icon>
      <span
        [style.cursor]="'pointer'"
        (click)="editTask(task)"
        [matTooltip]="translate('Edit task')"
        >{{ task.title }}</span
      >
    </div>
  </li>
</ul>

<button mat-button color="accent" (click)="addTask()">
  {{ translate("Add task") }}
</button>
