.container {
  min-height: 10px;
}

.cdk-drag-handle {
  cursor: grab;
  color: lightgray;
}

ul {
  padding-inline: 0;
  list-style: none;
}
:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.task-row {
  display: flex;
  align-items: center;
}

button {
  /* align-self: flex-end; */
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.drag-icon {
  margin-right: 0.5rem;
  font-size: 18px;
  width: 18px;
  height: 18px;
}
