<mat-card-header>
  <mat-card-title>
    <div *ngIf="mode === 'show'; then titleShow; else input"></div>
  </mat-card-title>
  <ng-template #titleShow>{{ title }}</ng-template>
  <ng-template #input class="edit">
    <mat-form-field>
      <input matInput type="text" [formControl]="ctr" />
      <mat-error>{{ getError() }}</mat-error>
    </mat-form-field>
  </ng-template>

  <button
    class="edit-button"
    mat-icon-button
    (click)="editTitle()"
    *ngIf="mode === 'show'; else submit"
  >
    <mat-icon>edit</mat-icon>
  </button>
  <ng-template #submit
    ><button
      mat-icon-button
      color="primary"
      [disabled]="ctr.invalid"
      (click)="onSubmit()"
    >
      <mat-icon>check_circle_outline</mat-icon>
    </button>
    <button mat-icon-button color="warn" (click)="showTitle()">
      <mat-icon>highlight_off</mat-icon>
    </button>
  </ng-template>
</mat-card-header>
