<div class="container">
  <div class="welcom">
    <h1>Welcome to our project management app!</h1>
    <h3>
      Our app is designed to help you manage your projects more efficiently and
      effectively. Whether you're working on a small personal project or a large
      team project, our app has the tools you need to stay organized and on
      track.
    </h3>
  </div>
  <img
    *ngIf="screenSize !== 'XSmall' && screenSize !== 'XXSmall'"
    src="../../../assets/project-management-icon.svg"
    [width]="screenSize !== 'Small' ? '400' : '240'"
  />
</div>
