.active-link {
  font-size: 1.5rem;
}
a,
.clickable {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}
.title {
  flex-grow: 1;
  margin-inline: 2rem;
}

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 100;
  gap: 1rem;
  overflow: hidden;
}

.sidenav-container {
  height: 100%;
}

*[matRipple] {
  cursor: pointer;
}

.user-menu {
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
}
