<mat-toolbar color="primary">
  <a routerLink="">
    <mat-icon>home</mat-icon>
    Home</a
  >
  <span class="title">{{ title }}</span>
  <div *ngIf="!isLogged; else logged">
    <a *ngIf="path === '/' || path !== '/login'" routerLink="login">
      <mat-icon>login</mat-icon>
      Login</a
    >
    <a *ngIf="path === '/' || path !== '/signup'" routerLink="signup">
      <mat-icon>perm_identity</mat-icon>
      Signup</a
    >
  </div>
  <ng-template #logged>
    <a routerLink="/boards">
      <mat-icon>dashboard</mat-icon>
      Boards</a
    >
    <mat-icon matRipple [matMenuTriggerFor]="mat_menu">account_circle</mat-icon>
    <mat-menu #mat_menu>
      <div>{{ user$ | async }}</div>
      <div matRipple class="clickable" (click)="editProfile()">
        <mat-icon>manage_accounts</mat-icon>
        Edit profile
      </div>
      <div matRipple class="clickable" (click)="logout()">
        <mat-icon>logout</mat-icon>
        Logout
      </div>
    </mat-menu>
  </ng-template>
</mat-toolbar>
