<mat-toolbar color="primary">
  <a
    routerLink=""
    matTooltip="HOME"
    [matTooltipDisabled]="screenSize !== 'XSmall'"
  >
    <mat-icon>home</mat-icon>
    <span *ngIf="screenSize !== 'XSmall'">Home</span>
  </a>

  <span class="title">{{ title }}</span>

  <div *ngIf="!isLogged; else logged">
    <a
      *ngIf="path === '/' || path !== '/login'"
      routerLink="login"
      matTooltip="LOGIN"
      [matTooltipDisabled]="screenSize !== 'XSmall'"
    >
      <mat-icon>login</mat-icon>
      <span *ngIf="screenSize !== 'XSmall'">Login</span>
    </a>
    <a
      *ngIf="path === '/' || path !== '/signup'"
      routerLink="signup"
      matTooltip="SIGN UP"
      [matTooltipDisabled]="screenSize !== 'XSmall'"
    >
      <mat-icon>perm_identity</mat-icon>
      <span *ngIf="screenSize !== 'XSmall'">Signup</span>
    </a>
  </div>

  <ng-template #logged>
    <a
      routerLink="/boards"
      matTooltip="BOARDS"
      [matTooltipDisabled]="screenSize !== 'XSmall'"
    >
      <mat-icon>dashboard</mat-icon>
      <span *ngIf="screenSize !== 'XSmall'">Boards</span>
    </a>
    <mat-icon [class]="['user-menu']" matRipple [matMenuTriggerFor]="mat_menu"
      >account_circle</mat-icon
    >
    <mat-menu #mat_menu>
      <div mat-menu-item disabled>{{ user$ | async }}</div>
      <div mat-menu-item matRipple class="clickable" (click)="editProfile()">
        <mat-icon>manage_accounts</mat-icon>
        Edit profile
      </div>
      <div mat-menu-item matRipple class="clickable" (click)="logout()">
        <mat-icon>logout</mat-icon>
        Logout
      </div>
    </mat-menu>
  </ng-template>
</mat-toolbar>
