<mat-card cdkDrag [cdkDragData]="column._id">
  <mat-card-header>
    <mat-icon cdkDragHandle>open_with</mat-icon>
    <title-component
      cdkDragHandle
      [title]="column.title"
      (titleChange)="onSubmit($event)"
    ></title-component>
  </mat-card-header>
  <mat-card-content>
    <tasks-list [boardId]="boardId" [columnId]="column._id"></tasks-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-mini-fab (click)="handleDelete()">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
