.cdk-drag-handle {
  cursor: grab;
}

mat-card-actions {
  justify-content: flex-end;
}

mat-card {
  width: 200px;
  height: 300px;
}

mat-card-content {
  flex-grow: 1;
  overflow: auto;
}

.drop-zone {
  position: absolute;
  top: -24px;
  left: 5px;
  width: 2.5rem;
  height: 24px;
  text-align: center;
  background: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  box-shadow: 1px -2px 3px -3px;
}
