.loader {
  font-size: 2rem;
}
.outlet-container {
  background: #fafafa;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loading {
  backdrop-filter: blur(2px);
  z-index: 9999;
}
