<form [formGroup]="createForm" (submit)="handleSubmit()">
  <mat-form-field>
    <mat-label>{{ type }} {{ translate("title") }}</mat-label>
    <input matInput formControlName="title" />
    <mat-error *ngIf="createForm.controls.title.invalid">{{
      getError("title")
    }}</mat-error>
  </mat-form-field>

  <mat-form-field *ngIf="type === 'task' || type === 'edit'">
    <mat-label>{{ type }} {{ translate("description") }}</mat-label>
    <input matInput formControlName="description" />
    <mat-error *ngIf="createForm.controls.description?.invalid">{{
      getError("description")
    }}</mat-error>
  </mat-form-field>

  <button mat-button type="submit" [disabled]="createForm.invalid">
    {{ translate(type === "edit" ? "Edit" : "Create") }}
  </button>
</form>
