<div class="header">
  <h3 class="title">Title: {{ title }}</h3>
  <button mat-stroked-button color="warn" (click)="deleteBoard()">
    Delete board
  </button>
</div>

<div
  class="container"
  cdkDropList
  [cdkDropListEnterPredicate]="checkElement"
  [cdkDropListData]="columns"
  cdkDropListGroup
  (cdkDropListDropped)="dropColumn($event)"
  cdkDropListOrientation="horizontal"
>
  <create-card [onClick]="addColClick"></create-card>

  <column-component
    *ngFor="let column of columns"
    [boardId]="id"
    [column]="column"
    (onDelete)="deleteColumn($event)"
  >
  </column-component>
</div>
