<div
  class="container"
  cdkDropList
  [cdkDropListEnterPredicate]="checkElement"
  [cdkDropListData]="columns"
  cdkDropListGroup
  (cdkDropListDropped)="dropColumn($event)"
  cdkDropListOrientation="horizontal"
>
  <mat-card class="add-new" (click)="addColumn('example column')">
    <mat-card-content>
      <mat-icon>add_circle</mat-icon>
    </mat-card-content>
  </mat-card>

  <column-component
    *ngFor="let column of columns"
    [boardId]="id"
    [column]="column"
    cdkDrag
    [cdkDragData]="column"
  ></column-component>
</div>
<mat-icon
  class="trash"
  (dragover)="dragOver($event)"
  (drop)="deleteTask($event)"
  >delete</mat-icon
>
